* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.standard-gap {
    gap: var(--standard-spacing);
}

.text-align-center {
    text-align: center;
}

body {
    --standard-spacing: 1rem;
    min-height: 100vh;
}

.choice-selection-buttons > p {
    margin-bottom: var(--standard-spacing);
}